body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    flex-direction: column;
}

.container {
    background-color: #f1f1f1;
    padding: 20px 30px;
    border-radius: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.input-area {
    display: flex;
    gap: 10px;
}

.input-area input {
    color: black;
}

.input-area button {
    color: black;
}



input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 8px 12px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.buttonul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li {
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

li:hover {
    background: #ff6b6b;
    color: white;
}