.servicos_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.servicos_container h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}