#rodape {
    display: flex;
    background-color: var(--terceira-color);

    section:first-child {
        padding: 1rem;

        >div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }



    h1 {
        color: var(--fw-md);
        font-weight: var();
        display: flex;
        font-size: var(--fs-lg);
        font-weight: var(--fw-bold);
        padding-top: 3rem;


    }

    p {
        padding-bottom: 0.5rem;
        color: var(--text-color);
        font-size: var(--fs-sm);
        color: var(--bg-color);
        font-weight: var(--fw-bold);
    }


}




@media (width >=580px) {

    #rodape {
        background-color: white;
        display: block;


        section:first-child {
            padding: 3rem;
            gap: 2rem;
            display: flex;

            justify-content: space-around;

        }

        h1 {

            padding-bottom: 0.7rem;
        }

        p {
            font-size: var(--fs-sm);
            font-weight: var(--fw-bold);
            color: var(--second-text-color);

        }
    }
}