#rodape {
    display: flex;
    background-color: var(--terceira-color);

    section:first-child {
        padding: 1rem;

        >div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }



    h1 {
        color: var(--fw-md);
        font-weight: var();
        display: flex;
        font-size: var(--fs-lg);
        font-weight: var(--fw-bold);
        padding-top: 3rem;
        padding-block: 1rem;


    }

    p {
        padding-bottom: 0.5rem;
        color: var(--text-color);
        font-size: var(--fs-sm);
        color: var(--bg-color);
        font-weight: var(--fw-bold);
    }

    .icone {

        display: flex;
        justify-content: space-between;
        width: 100%;

        color: var(--bg-color);

        .icon {
            width: 2rem;
            height: 2rem;
        }
    }



}




@media (width >=580px) {

    #rodape {
        background-color: white;
        display: block;


        section:first-child {
            padding: 3rem;
            gap: 2rem;
            display: flex;

            justify-content: space-around;

        }

        h1 {


            padding-bottom: 0.7rem;
        }

        p {

            font-size: var(--fs-sm);
            font-weight: var(--fw-bold);
            color: var(--second-text-color);

        }


        .icone {

            display: flex;
            justify-content: space-between;
            width: 100%;

            color: var(--terceira-color);

            .icon {
                width: 2rem;
                height: 3rem;
            }
        }


    }
}